/* Fontes
**************************************************/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Poppins:wght@400;500;600&display=swap');

.container-login{
  height: 100vh;
  overflow: hidden;
}

/*Estilização da Landing de Login
  ****************************************/

#landing-login{
  background: var(--color-primary) 
    url(../imagens/bg-landing.svg) 
    no-repeat 10px 180px;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}

#landing-login .footer-landing{
  margin-left: 30px;
}

#landing-login .footer-landing p{
  margin-left: 20px;
}

#landing-login .footer-landing p#avance{
  font-weight: bold;
}


/*Estilização do Formulário de Login
  ****************************************/
#form-login .container{
  border: 1px solid var(--color-border);
  border-radius: 8px;
  max-width: 434px;
  height: 500px;
}

#form-login h5,
#form-cad h5
{
 font-size: 1.2rem;
 font-family: 'Poppins', sans-serif;
 color: var(--color-grey-dark);
}

#form-login h3,
#form-cad h3
{
  font-size: 1.6rem;
  font-family: 'Archivo', sans-serif;
}

#form-login .form-group label,
#form-cad .form-group label
{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-label);
}

#form-login .form-group input,
#form-cad .form-group input
{
  font-family: 'Poppins', sans-serif;
  border-radius: 22px;
  height: 48px;
  padding-left: 50px;
}

#form-login .form-group input:focus,
#form-cad .form-group input:focus
{
  box-shadow: none;
  z-index: 0;
}

#form-login .form-group .icone,
#form-cad .form-group .icone{
  position: absolute;
  width: 30px;
  margin: 10px 15px;
  z-index: 1;
}

#form-login button,
#form-cad button
{
  font-family: 'Poppins', sans-serif;
  height: 48px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 22px;
  background: var(--color-primary);
  color: var(--color-white);
}

#form-login button a,
#form-cad button a
{
  color: var(--color-box-white);
}

#form-login  a:hover,
#form-cad  a:hover
{
  text-decoration: none;
}

#form-login .form-group #erro-nome, 
#form-login .form-group #erro-senha{
color: var(--colo-danger);
}

#form-login .form-group small,
#form-cad .form-group small
{
  font-family: 'Poppins', sans-serif;
  color: var(--color-grey-dark);
}

#form-login .form-group small a,
#form-cad .form-group small a
{
  color: var(--color-text-in-back);
}



/**Paleta de cores*/
:root{
  --color-primary: #799FFF;
  --color-secondary: #04D361;
  --color-text-in-back: #000000;
  --color-text-label: #707070;
  --color-grey-dark: #BCBCBC;
  --color-border: #D9D9D9;
  --color-grey: #DADADA;
  --color-white: #FFFFFF;
  --color-box-white: #FEFEFE;
  --color-box-grey: #F4F4F4;
  --colo-danger: #EB5757;
  
}